doctype html
html
  head
    title Simple Node App
  body
    if string
      h1= string
    if original && length
      h1 Original string: #{original} and Length: #{length}
    if name
      h1 Hello, #{name}!
